<h2><%= @episode.title %></h2>

<p>
  <strong>Description: </strong> <%= @episode.description %>
</p>

<%= link_to "Back", root_path, class: "btn btn-default" %>
<% unless current_user_subscribed? %>
<%= link_to "Subscribe To Watch", new_subscription_path, class: "btn btn-primary" %>
<% end %>
